* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;

}

.row {
    display: flex;
    text-align: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.row p {
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

.title h1 {
    text-align: center;
    padding: 1.5rem;
}

